{% extends "header.html" %}
{% block body %}

    <div class="row">
    	<div class="col-lg-1 col-sm-1">
        </div>
    	<div class="col-lg-2 col-sm-2">
          <img src="/static/anna1.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna3.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    	 <img src="/static/anna4.jpg" width="260" height="180">	
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna5.jpg" width="260" height="180">
         </div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna7.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-1 col-sm-1">
        </div>
    </div>
  <div style="margin-top:20px;margin-left:550px;">
      <form  action="/buyer" method="post" class="choice">
        <div class="form-row">
     <div class="form-group col-md-8"style="margin-left:50px;">
      <label for="id"><b>Unique_id of farmer**</b></label>
      <input type="text" class="form-control" id="id" name="ids">
    </div>

        </div>
</div>
</form>
</div>
</body>

{% endblock %}