{% extends "header.html" %}
{% block body %}

    <div class="row">
    	<div class="col-lg-1 col-sm-1">
        </div>
    	<div class="col-lg-2 col-sm-2">
          <img src="/static/anna1.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna3.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    	 <img src="/static/anna4.jpg" width="260" height="180">	
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna5.jpg" width="260" height="180">
         </div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna7.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-1 col-sm-1">
        </div>
    </div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">Mandi_Name</th>
         <th scope="col">Place</th>
        <th scope="col">Distric</th>
        <th scope="col">State</th>
      </tr>
    </thead>
    <tr>
      <td scope="col">MALIHABAD MANDI</td>
      <td scope="col">RAM PUR</td>
      <td scope="col">MALIHABAD</td>
      <td scope="col">UTTER PRADESH</td>
    </tr>
    <tr>
      <td scope="col">NAVEEN GALLA MANDI</td>
      <td scope="col">DUBAGGA</td>
      <td scope="col">LUCKNOW</td>
      <td scope="col">UTTER PRADESH</td>
    </tr>
    <tr>
      <td scope="col">RAMNAGER MANDI</td>
      <td scope="col">RAM PUR</td>
      <td scope="col">FIROZABAD</td>
      <td scope="col">UTTER PRADESH</td>
    </tr>
    <tr>
      <td scope="col">NAVEEN GALLA MANDI</td>
      <td scope="col">MAHBULLA NAGAR</td>
      <td scope="col">BANGERMAU</td>
      <td scope="col">MAHARASTRA</td>
    </tr>
    <tr>
      <td scope="col">RAM MANOHAR MANDI</td>
      <td scope="col">GURU NANAK MARKET</td>
      <td scope="col">MURADA BAD</td>
      <td scope="col">CHANNAI</td>
    </tr>
    <tr>
      <td scope="col">PRINCE JHONS MANDI</td>
      <td scope="col">CHAUPATIYA</td>
      <td scope="col">MOHAN NAGAR</td>
      <td scope="col">GOVA</td>
    </tr>
    <tr>
      <td scope="col">SHYAM BAHAR MANDI</td>
      <td scope="col">ALMVIHAR NAGAR</td>
      <td scope="col">KUSTHI NAGAR</td>
      <td scope="col">ANDHRA PRADESH</td>
    </tr>
    <tr>
     <td scope="col">NAVEEN GALLA MANDI</td>
      <td scope="col">MAHBULLA NAGAR</td>
      <td scope="col">BANGERMAU</td>
      <td scope="col">MAHARASTRA</td>
    </tr>
    <tr>
      <td scope="col">MALIHABAD MANDI</td>
      <td scope="col">RAM PUR</td>
      <td scope="col">MALIHABAD</td>
      <td scope="col">UTTER PRADESH</td>
    </tr>
    <tr>
      <td scope="col">SHYAM BAHAR MANDI</td>
      <td scope="col">ALMVIHAR NAGAR</td>
      <td scope="col">KUSTHI NAGAR</td>
      <td scope="col">ANDHRA PRADESH</td>
    </tr>
  </table>   
</body>
{% endblock %}