{% extends "header.html" %}
{% block body %}

    <div class="row">
    	<div class="col-lg-1 col-sm-1">
        </div>
    	<div class="col-lg-2 col-sm-2">
          <img src="/static/anna1.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna3.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    	 <img src="/static/anna4.jpg" width="260" height="180">	
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna5.jpg" width="260" height="180">
         </div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna7.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-1 col-sm-1">
        </div>
    </div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">Commodity</th>
        <th scope="col">Distric</th>
        <th scope="col">State</th>
        <th scope="col">Duration</th>
        <th scope="col">Price</th>
        <th scope="col">Contact_no</th>
      </tr>
    </thead>
       <tr>
        <td scope="col">rice</td>
        <td scope="col">annanagar</td>
        <td scope="col">chennai</td>
        <td scope="col">01/10/2020-31/10/2020</td>
        <td scope="col">7rupees/kg</td>
        <td scope="col">8672542121</td>
      </tr>
      <tr>
        <td scope="col">chana</td>
        <td scope="col">alinagar</td>
        <td scope="col">kashmir</td>
        <td scope="col">01/10/2020-31/10/2020</td>
        <td scope="col">17rupees/kg</td>
        <td scope="col">9872352331</td>
      </tr>
      <tr>
        <td scope="col">gehu</td>
        <td scope="col">malihabad</td>
        <td scope="col">utter pradesh</td>
        <td scope="col">01/10/2020-31/10/2020</td>
        <td scope="col">3rupees/kg</td>
        <td scope="col">9845687345</td>
      </tr>
      <tr>
        <td scope="col">rice</td>
        <td scope="col">lucknow</td>
        <td scope="col">utter pradesh</td>
        <td scope="col">01/10/2020-31/10/2020</td>
        <td scope="col">7rupees/kg</td>
        <td scope="col">9967543634</td>
      </tr>
      <tr>
        <td scope="col">chana</td>
        <td scope="col">ram nagar</td>
        <td scope="col">firozabad</td>
        <td scope="col">01/10/2020-31/10/2020</td>
        <td scope="col">16rupees/kg</td>
        <td scope="col">Contact_no</td>
      </tr>
      <tr>
        <td scope="col">gehu</td>
        <td scope="col">muradabad</td>
        <td scope="col">hariyana</td>
        <td scope="col">01/10/2020-31/10/2020</td>
        <td scope="col">4rupees/kg</td>
        <td scope="col">3486353253</td>
      </tr>
      <tr>
        <td scope="col">rice</td>
        <td scope="col">ramnagar</td>
        <td scope="col">panjab</td>
           <td scope="col">01/10/2020-31/10/2020</td>
        <td scope="col">7rupees/kg</td>
        <td scope="col">76546344363</td>
      </tr>
     <tr>
        <td scope="col">rice</td>
        <td scope="col">annanagar</td>
        <td scope="col">chennai</td>
        <td scope="col">01/10/2020-31/10/2020</td>
        <td scope="col">7rupees/kg</td>
        <td scope="col">8672542121</td>
      </tr>
       <tr>
        <td scope="col">rice</td>
        <td scope="col">annanagar</td>
        <td scope="col">chennai</td>
        <td scope="col">01/10/2020-31/10/2020</td>
        <td scope="col">7rupees/kg</td>
        <td scope="col">8672542121</td>
      </tr>
  </table> 
  </div>  
</body>
{% endblock %}