{% extends "header.html" %}
{% block body %}

    <div class="row">
    	<div class="col-lg-1 col-sm-1">
        </div>
    	<div class="col-lg-2 col-sm-2">
          <img src="/static/anna1.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna3.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    	 <img src="/static/anna4.jpg" width="260" height="180">	
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna5.jpg" width="260" height="180">
         </div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna7.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-1 col-sm-1">
        </div>
    </div>
    <div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <img class=" gall" src="static/bull.jpg" height="350" width="500">
      <img class=" gall" src="static/anna2.jpg" height="350" width="500">
      <img  class=" gall"src="static/anna3.jpg" height="350" width="500">
       <img class=" gall" src="static/anna4.jpg" height="350" width="500">
        <img class=" gall"  src="static/anna5.jpg" height="350" width="500">
         <img class=" gall" src="static/anna1.jpg" height="350" width="500">
          <img class=" gall"  src="static/map.png" height="350" width="500">
         <img class=" gall" src="static/map1.png" height="350" width="500">
    </div>
     <div class="col-lg-6 col-sm-6">
      <img class=" gallery" src="static/corn.jpg" height="350" width="500">
      <img class=" gallery" src="static/digital farmer1.jpg" height="350" width="500">
      <img class=" gallery" src="static/digital.jpg" height="350" width="500">
      <img class=" gallery" src="static/farmer1.jpg" height="350" width="500">
      <img class=" gallery" src="static/chana.webp" height="350" width="500">
      <img class=" gallery" src="static/logo.jpg" height="350" width="500">
      <img class=" gall"  src="static/new.gif" height="350" width="500">
      <img class=" gall" src="static/pm.jpg" height="350" width="500">
      
    </div>
  </div>
</div>
    
</body>
{% endblock %}