{% extends "header.html" %}
{% block body %}

    <div class="row">
    	<div class="col-lg-1 col-sm-1">
        </div>
    	<div class="col-lg-2 col-sm-2">
          <img src="/static/anna1.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna3.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    	 <img src="/static/anna4.jpg" width="260" height="180">	
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna5.jpg" width="260" height="180">
         </div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna7.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-1 col-sm-1">
        </div>
    </div>
  <div style="margin-top:20px;margin-left:550px;">
      <form action="/choice" method="post" class="login">
      	<div style="margin-top:20px;margin-left:50px;">
  <div class="form-group row cen">
    
    <label for="inputEmail3" class="col-sm-4 col-form-label"style="padding-left: 50px;"><b>Unique-Id:</b></label>
    <div class="col-sm-4">
      <input  style="border:1px white;border-radius: 6px;width:220px;" id="inputEmail3" name="ids_no">
    </div>
   
  </div>
  <div class="form-group row cen">
    <label for="inputPassword3" class="col-sm-4 col-form-label"style="padding-left: 50px;"><b>Password:</b></label>
    <div class="col-sm-4">
      <input type="password" style="border:1px white;border-radius: 6px;width:220px;" id="inputPassword3" name="password">
    </div>
  
  </div>
  
  <div class="form-group row">
    <div class="col-sm-8">
      <div class="form-check" style="padding-left:150px;">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1" >
          Remember Me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6" style="padding-left:200px;">
      <button type="submit"  style=" font-size: 15px; padding:5px 15px 5px 15px;background-color:#0d900b;">Login</button>
    </div>
  </div>
</div>
</form>
</div>
</body>
{% endblock %}