{% extends "header.html" %}
{% block body %}

    <div class="row">
    	<div class="col-lg-1 col-sm-1">
        </div>
    	<div class="col-lg-2 col-sm-2">
          <img src="/static/anna1.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna3.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    	 <img src="/static/anna4.jpg" width="260" height="180">	
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna5.jpg" width="260" height="180">
         </div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna7.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-1 col-sm-1">
        </div>
    </div>
 {% if sell %}
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">Commodity</th>
        <th scope="col">Quantity</th>
        <th scope="col">State</th>
        <th scope="col">Date</th>
         <th scope="col">Unique_id</th>
        <th scope="col">Max-Min-Price</th>
        <th scope="col">Contact_no</th>
         <th scope="col">EmailId</th>
         <th scope="col">Name</th>

      </tr>
    </thead>
    {% for row in sell %}
    <tr>
      <td>{{ row.Commodity }}</td>
      <td>{{ row.Quantity }}</td>
      <td>{{ row.State }}</td>
      <td>{{ row.Date }}</td>
      <td>{{ row.Unique_id }}</td>
      <td>{{ row.Max_Price_Min_price }}</td>
      <td>{{ row.Contact_No }}</td>
      <td>{{ row.Email_id }}</td>
      <td>{{ row.Name }}</td>
    </tr>
    {% endfor %}
  </table>
   </div> 
  {% endif %}  
{% if current_user.is_authenticated %}
<a href="{{url_for('buy')}}" style="margin-left:70px;" ><button type="button" class="btn btn-success" style="padding-top:10px!important;padding-bottom:10px!important;padding-right:20px!important;padding-left:20px!important;">BUY NOW</button></a>
{% else %}
<a href="{{url_for('login')}}" style="margin-left:70px;" ><button type="button" class="btn btn-success" style="padding-top:10px!important;padding-bottom:10px!important;padding-right:20px!important;padding-left:20px!important;">LOGIN FOR BUY</button></a>
{% endif %}
</body>
{% endblock %}
