{% extends "header.html" %}
{% block body %}

    <div class="row">
    	<div class="col-lg-1 col-sm-1">
        </div>
    	<div class="col-lg-2 col-sm-2">
          <img src="/static/anna1.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna3.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-2 col-sm-2">
    	 <img src="/static/anna4.jpg" width="260" height="180">	
    	</div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna5.jpg" width="260" height="180">
         </div>
    	<div class="col-lg-2 col-sm-2">
    		 <img src="/static/anna7.jpg" width="260" height="180">
    	</div>
    	<div class="col-lg-1 col-sm-1">
        </div>
    </div>
  <div style="margin-top:20px;margin-left:550px;">
      <form class="login">
      	<div style="margin-top:20px;margin-left:30px;">
         <h1 style="color:green">WELCOME!</h1>
         <h3>YOUR REQUEST HAS BEEN REGISTERED!!</h3>
        </div>
        <a href="{{url_for('home')}}" style="margin-left:70px;" ><button type="button" class="btn btn-secondary" style="padding-top:10px!important;padding-bottom:10px!important;padding-right:20px!important;padding-left:20px!important;">HOME</button></a>
</form>
</div>
</body>
{% endblock %}